alembic>=1.17.0
asyncpg>=0.30.0
fastapi>=0.119.0
pandas>=2.3.3
psycopg2-binary>=2.9.11
pydantic>=2.12.2
pydantic-settings>=2.11.0
python-dotenv>=1.1.1
requests>=2.32.5
richer>=0.1.6
sqlalchemy>=2.0.44
streamlit>=1.50.0
uvicorn>=0.37.0
python-multipart>=0.0.20
rclone_python>=0.1.23
bandit>=1.8.6
black>=25.9.0
httpx>=0.28.1
isort>=7.0.0
pre-commit>=4.3.0
pytest>=8.4.2
pytest-asyncio>=1.2.0
ruff>=0.14.0
python-jose>=3.5.0
passlib>=1.7.4
commitizen>=4.9.1
pydantic[email]
